*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#text-center{
    margin-left: 1000px;
}
#password-strength-status{
    margin-left: 1120px;
    height: 20px;
    width: 55px;
    margin-top: -18px;
    background-color: rgb(194, 140, 140);
}
input{
    margin-top: 18px; 
}